<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043382085444-ur641du5gjk5u6vc9umankl1bpaoa884.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043382085444-ur641du5gjk5u6vc9umankl1bpaoa884</string>
	<key>API_KEY</key>
	<string>AIzaSyA3zdF7adTvhjyQdlQFS2G5cwPSSrzc8ck</string>
	<key>GCM_SENDER_ID</key>
	<string>1043382085444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismailkeyvan.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-dersler-d5ce5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-dersler-d5ce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043382085444:ios:2d713b3169ddc396fdd911</string>
</dict>
</plist>